In [1]:
import pandas as pd

df = pd.read_csv('Fast-Food Chains in USA.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB
None

In [2]:
# Using pandas to insert a new record into the dataset with the following details:
# Fast-Food Chain: "Subway", Systemwide Sales: $1000 million, Average Sales per Unit: $400 thousand,
# Franchised Stores: 2000, Company Stores: 500, 2021 Total Units: 2500, Total Change in Units from 2020: 50
df.loc[len(df)] = ['Subway', 1000, 400, 2000, 500, 2500, 50]
df.tail()

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3
50,Subway,1000,400,2000,500,2500,50

In [3]:
# Update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.
index = df[df['Fast-Food Chains'] == "McDonald’s"].index
df.at[index[0], 'U.S. Systemwide Sales (Millions - U.S Dollars)'] = 40000
df

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carl’s Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally’s,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
8,Church’s Chicken,776,870,731,161,892,-13
9,Culver’s,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Pollo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy’s Frozen Custard & Steakburgers,759,1842,391,29,420,32
18,Hardee’s,2100,1117,1536,198,1734,-32
19,In-N-Out Burger,1175,3200,0,370,370,5
20,Jack in the Box,4077,1843,2055,163,2218,-23
21,Jersey Mike’s,2203,1145,2087,13,2100,246
22,Jimmy John’s,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
24,Krispy Kreme,996,4000,51,307,358,6
25,Little Caesars,4185,1000,3601,580,4181,-28
26,Marco’s Pizza,899,934,957,45,1002,48
27,McAlister’s Deli,869,1866,472,33,505,24
28,McDonald’s,40000,3420,12775,663,13438,244
29,Moe’s Southwest Grill,661,1073,658,1,659,-22
30,Panda Express,4452,2173,147,2187,2334,150
31,Panera Bread,5650,2700,1130,950,2080,-25
32,Papa Johns,3486,1147,2564,600,3164,30
33,Papa Murphy’s,809,643,1213,27,1240,-53
34,Pizza Hut,5500,1022,6526,22,6548,-13
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
37,Raising Cane’s,2377,4893,23,544,567,58
38,Shake Shack,777,3679,25,218,243,38
39,Sonic Drive-In,5835,1643,3232,320,3552,26
40,Starbucks,24300,1200,6497,8953,15450,113
41,Subway,9350,438,21147,0,21147,-1043
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Hortons,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3
50,Subway,1000,400,2000,500,2500,50

In [4]:
# Using pandas to calculate the average systemwide sales for each category of fast food chains, grouped by category.
df.groupby('Fast-Food Chains')['U.S. Systemwide Sales (Millions - U.S Dollars)'].mean()

Fast-Food Chains
Arby’s                                     4462.0
Baskin-Robbins                              686.0
Bojangles                                  1485.0
Burger King                               10033.0
Carl’s Jr.                                 1560.0
Checkers/Rally’s                            931.0
Chick-fil-A                               16700.0
Chipotle                                   7547.0
Church’s Chicken                            776.0
Culver’s                                   2489.0
Dairy Queen                                4494.0
Del Taco                                    931.0
Domino's                                   8641.0
Dunkin'                                   10416.0
El Pollo Loco                               973.0
Firehouse Subs                             1044.0
Five Guys                                  2093.0
Freddy’s Frozen Custard & Steakburgers      759.0
Hardee’s                                   2100.0
In-N-Out Burger                            1175.0
Jack in the Box                            4077.0
Jersey Mike’s                              2203.0
Jimmy John’s                               2301.0
KFC                                        5100.0
Krispy Kreme                                996.0
Little Caesars                             4185.0
Marco’s Pizza                               899.0
McAlister’s Deli                            869.0
McDonald’s                                40000.0
Moe’s Southwest Grill                       661.0
Panda Express                              4452.0
Panera Bread                               5650.0
Papa Johns                                 3486.0
Papa Murphy’s                               809.0
Pizza Hut                                  5500.0
Popeyes Louisiana Kitchen                  4775.0
QDOBA                                       835.0
Raising Cane’s                             2377.0
Shake Shack                                 777.0
Sonic Drive-In                             5835.0
Starbucks                                 24300.0
Subway                                     5175.0
Taco Bell                                 12600.0
Tim Hortons                                 687.0
Tropical Smoothie Cafe                      948.0
Wendy's                                   11111.0
Whataburger                                3089.0
White Castle                                615.0
Wingstop                                   2278.0
Zaxby’s                                    2233.0
Name: U.S. Systemwide Sales (Millions - U.S Dollars), dtype: float64

In [5]:
# Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, 
ordered by average sales per unit in descending order.
top_sales = df.sort_values(by='Average Sales per Unit (Thousands - U.S Dollars)', ascending=False)
top_sales.head(10)

SyntaxError: invalid syntax (3887434278.py, line 2)

In [6]:
# Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.
fran_grp = df[df['Franchised Stores'] > df['Company Stores']]['Fast-Food Chains']
fran_grp

0                                     Arby’s
1                             Baskin-Robbins
2                                  Bojangles
3                                Burger King
4                                 Carl’s Jr.
5                           Checkers/Rally’s
6                                Chick-fil-A
8                           Church’s Chicken
9                                   Culver’s
10                               Dairy Queen
11                                  Del Taco
12                                  Domino's
13                                   Dunkin'
14                             El Pollo Loco
15                            Firehouse Subs
16                                 Five Guys
17    Freddy’s Frozen Custard & Steakburgers
18                                  Hardee’s
20                           Jack in the Box
21                             Jersey Mike’s
22                              Jimmy John’s
23                                       KFC
25                            Little Caesars
26                             Marco’s Pizza
27                          McAlister’s Deli
28                                McDonald’s
29                     Moe’s Southwest Grill
31                              Panera Bread
32                                Papa Johns
33                             Papa Murphy’s
34                                 Pizza Hut
35                 Popeyes Louisiana Kitchen
36                                     QDOBA
39                            Sonic Drive-In
41                                    Subway
42                                 Taco Bell
43                               Tim Hortons
44                    Tropical Smoothie Cafe
45                                   Wendy's
48                                  Wingstop
49                                   Zaxby’s
50                                    Subway
Name: Fast-Food Chains, dtype: object

In [7]:
# Using pandas delete all records from the dataset where the total change in units from 2020 is negative.
df.drop(df[df['Total Change in Units from 2020'] < 0].index)

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
9,Culver’s,2489,3099,831,6,837,55
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Pollo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy’s Frozen Custard & Steakburgers,759,1842,391,29,420,32
19,In-N-Out Burger,1175,3200,0,370,370,5
21,Jersey Mike’s,2203,1145,2087,13,2100,246
22,Jimmy John’s,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
24,Krispy Kreme,996,4000,51,307,358,6
26,Marco’s Pizza,899,934,957,45,1002,48
27,McAlister’s Deli,869,1866,472,33,505,24
28,McDonald’s,40000,3420,12775,663,13438,244
30,Panda Express,4452,2173,147,2187,2334,150
32,Papa Johns,3486,1147,2564,600,3164,30
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
37,Raising Cane’s,2377,4893,23,544,567,58
38,Shake Shack,777,3679,25,218,243,38
39,Sonic Drive-In,5835,1643,3232,320,3552,26
40,Starbucks,24300,1200,6497,8953,15450,113
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Hortons,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
46,Whataburger,3089,3640,131,742,873,29
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby’s,2233,2484,761,147,908,3
50,Subway,1000,400,2000,500,2500,50